{% extends "template.twig" %}

{% block titulo %} Linux{% endblock %}

{% block conteudo %}

    <h4>Autor: Alexandre</h4> 
    
    <h1>Linux</h1>
    
    <p>
        Linux é um termo popularmente empregado para se referir a sistemas operativos (português europeu) ou sistemas operacionais (português brasileiro) 
        que utilizam o Kernel Linux.[5] O núcleo (ou kernel, em Alemão) foi desenvolvido pelo programador finlandês Linus Torvalds, inspirado no sistema 
        Minix. O seu código fonte está disponível sob a licença GPL (versão 2) para que qualquer pessoa o possa utilizar, estudar, modificar e distribuir 
        livremente de acordo com os termos da licença. A Free Software Foundation e seus colaboradores recomenda[6] o nome GNU/Linux para descrever o sistema 
        operacional, como resultado de uma disputa controversa entre membros da comunidade de software livre e código aberto.       
    </p>
    <a href="{{ app.url_generator.generate('posts')}}">Voltar</a>
{% endblock %}