<html>
    <head>
        <title>Post - {% block titulo %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="estilo.css" media="screen" />

    </head>
    
    <body background ="#000">
    
        {% block conteudo %}
            
        {% endblock %}
        
    </body>  

</html>
