{% extends "template.twig" %}

{% block titulo %} Windows {% endblock %}

{% block conteudo %}

    <h6>Autor: José</h6> 
    
    <h1>Windows</h1>
    
    <p>
        Microsoft Windows (ou simplesmente Windows) é uma família de sistemas operacionais desenvolvidos, comercializados e vendidos pela Microsoft.
        É constituída por várias famílias de sistemas operacionais, cada qual atendendo a um determinado setor da indústria da computação, sendo que 
        o sistema geralmente é associado com a arquitetura IBM PC compatível. As famílias ativas do Windows incluem Windows NT, Windows Embedded e 
        Windows Phone; estes podem abranger subfamílias, como Windows CE ou Windows Server.       
    </p>
    <a href="{{ app.url_generator.generate('posts')}}">Voltar</a>
{% endblock %}
