h1{color: #fff; text-align:center;}
body{background-color: #000; }
div{background-color: #969896; text-align: center;}
p{font-size: 40px; color:#fff; text-align: justify;}
a{color: #fff; font-size: 30px; text-decoration: none; background-color: #969896; }
#a{font-size: 16px; text-decoration: none;}